<html>
  <head>
    <title>simple-chat</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
  </head>
  <body>

    名前<br>
    <form onsubmit="return rename();">
      <input type="text" name="name" id="name" value="名無し"/>
      <!-- <input type="submit"/> -->
    </form>

    メッセージ
    <form onsubmit="return send();">
      <input type="text" name="message" id="message"/>
      <input type="submit"/>
    </form>
    <div></div>
  </body>
</html>
