<html>
  <head>
    <title>simple-chat</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
    <script type="text/javascript" src="/js/timer.js"></script>
  </head>
  <body>
    <h1>ここからタイマーページ</h1>    
    <div id="count-down-timer"></div>
  </body>
</html>
