<html>
  <head>
    <title>simple-chat</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-responsive.min.css" media="screen, projection" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
    <script type="text/javascript" src="/js/timer.js"></script>
  </head>
  <body style="background-color: #9ad63c; color: white;">
    <h1>
      <div id="schedule-title" class="text-center" style="text-align: center; margin-top: 200px;">
        xx時間目
      </div>
    </h1>  
    <div id="count-down-timer" class="text-center" style="text-align: center; font-size: 60px;"></div>
  </body>
</html>
