<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>simple-chat</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.css" media="screen, projection" />
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  
  <body style="background-color: #0d432d;">
    <div class="container">
    	<div class="row">
    		<div class="span12">
	        	<center>
	        	<br><br>
	        		<img src="/img/top_title.png">
	        	</center>	        	
    		</div>
    	</div>
    	<br>
    	<center><img src="/img/top_schedule.png"></center>
    	<br>

		<table width="65%" align=center>
			<tr bgcolor="#333333">
				<td colspan="2">
        		<center><p class="white1">あなたの教室を選んでください</p></center>
        		</td>
        	<tr>
        	<tr>
        		<td>
        		<a href="/clock?room=1">
		       		<img src="/img/top_btn1.gif">
		       	</a>
        		</td>
        		<td>
        		<a href="/clock?room=4">
		       		<img src="/img/top_btn4.gif">
		       	</a>
        		</td>
        	</tr>
        	<tr>
        		<td>
        		<a href="/clock?room=2">
		       		<img src="/img/top_btn2.gif">
		       	</a>
        		</td>
        		<td>
        		<a href="/clock?room=5">
		       		<img src="/img/top_btn5.gif">
		       	</a>
        		</td>
        	</tr>        	
        	<tr>
		   		<td>
        		<a href="/clock?room=3">
		       		<img src="/img/top_btn3.gif">
		       	</a>
        		</td>
		   		<td>
		       		<img src="/img/top_btn6.gif">
        		</td>
        	</tr>	
        	
		</table>    	
    </div>
  </body>
</html>