<html>
  <head>
    <title>simple-chat</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
  </head>
  <body>
    What is your name?<br>
    <form onsubmit="return rename();">
      <input type="text" name="name" id="name"/>
      <input type="submit"/>
    </form>
    <br>
    I'm <span id="name"><%= name %></span>.<br>
    <form onsubmit="return send();">
      <input type="text" name="message" id="message"/>
      <input type="submit"/>
    </form>


    <h1>ここからタイマーページ</h1>
    <script type="text/javascript" src="/js/timer.js"></script>
    <div id="count-down-timer"></div>    
  </body>
</html>
